A Quick Introduction to Python
===

What we are using here is a Jupyter notebook as a very interactive environment to play with Python

Some useful commands for the Jupyter notebooks are:

- esc m change cell from python to markdown
- shift + enter run cell, select below.
- ctrl + enter run cell.
- option + enter run cell, insert below.
- A insert cell above.
- B insert cell below.
- C copy cell.
- V paste cell.
- D , D delete selected cell.

## Variables

In [45]:
x = 10
y = 2
astring = 'Ciao'

In [3]:
print(x,y,astring)

10 2 Ciao

In [46]:
type(x)

int

In [47]:
type(astring)

str

In [48]:
id(x)

4477092352

### Operations

#### Addition

In [51]:
x + y
print(x,y)
print(x+y)

10 2
12

#### Multiplication

In [53]:
x*y

20

#### Division

In [56]:
type(x),type(y)
y/x

0.2

In [7]:
y/x

0.2

In [8]:
type(x)

int

In [9]:
type(y)

int

In [11]:
type(x/y)

float

Note that in Python versions 2.x the / operator is a true division which is replaced by // in Python 3

In [58]:
y//x

0

#### Power

In [59]:
x**y

100

#### Sqrt

In [64]:
y**(1//2)

1

In [62]:
import numpy as np
np.sqrt(y)

1.4142135623730951

#### Modulus

In [65]:
y % 3

2

### Lists & Tuples

In [67]:
a = [1,2,3,'d', [1,2,3]]
print(a)

[1, 2, 3, 'd', [1, 2, 3]]

In [68]:
a[0] = a[2]
a[-1] = 10
print(a)

[3, 2, 3, 'd', 10]

In [69]:
a =(3,2,'d')
print(a)

(3, 2, 'd')

In [70]:
a[0] = 'Ciao

SyntaxError: EOL while scanning string literal (<ipython-input-70-6a6b25e610ec>, line 1)

### Mutable and Immutable Objects

Immutables : numbers, strings, tuples

In [44]:
a = 3 # Memory for 3 is allocated and a points to 3
print( id(a) )
b = a # b points to the same memory for 3
print( id(b) )
a = 4 # New memory is allocated for 4
print( id(a) )

4477092128
4477092128
4477092160

In [17]:
print(a,b)

4 3

In [71]:
a = [10, 'venti', 30, 'forty']
b = a 
a[0] = 20

In [72]:
print(a,b)

[20, 'venti', 30, 'forty'] [20, 'venti', 30, 'forty']

In [20]:
b[1] = 'twenty'

In [21]:
print(a,b)

[20, 'twenty', 30, 'forty'] [20, 'twenty', 30, 'forty']

Mutables are by default copyied via shallow copies - only the reference to memory storage is passed around.

In [73]:
import copy

In [74]:
a = [10, 'venti', 30, 'forty']
b = copy.deepcopy(a) 
a[0] = 20

In [75]:
print(a,b)

[20, 'venti', 30, 'forty'] [10, 'venti', 30, 'forty']